---
layout: default
title: News
permalink: /news/
---

<main class="main main--news">
	<div class="container">
		<div class="main__title">
			<h2 class="h1">News</h2>
		</div>
		<div class="main__filter filter">
			<div class="filter__label">
				<span>All articles</span>
				<svg width="11px" height="7px" class="filter__label-icon"><use xlink:href="#icon-chevron-down"/></svg>
			</div>
			<ul>
				{% for filter in site.data.filters.news %}
					<li><button class="filter__button {% if forloop.first %}active{% endif %}" data-filter="{{ filter.name }}">{{ filter.label }}</button></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% for article in site.news %}

		{% if article.main-image %}
		<div class="card{% cycle '', ' card--image-right' %}" data-category="{{ article.category }}">
			<div class="container">
				<div class="card__image">
					<img src="{{ article.main-image }}" alt="">
				</div>
		{% else %}
		<div class="card card--image-none" data-category="{{ article.category }}">
			<div class="container">
		{% endif %}

				<div class="card__content">
					<h3 class="h5">{{ article.title }}</h3>
					<p>{{ article.content | truncatewords: 100 }}</p>
					<p class="card__link"><a href="{{ article.url | prepend: site.baseurl }}">More</a></p>
				</div>
			</div>
		</div>

	{% endfor %}

	<!-- <div class="card" data-category="project">
		<div class="container">
			<div class="card__image">
				<img src="assets/news-img-1.jpg" alt="">
			</div>
			<div class="card__content">
				<h3 class="h5">Blog headline goes here</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="card__link"><a href="article.html">More</a></p>
			</div>
		</div>
	</div>

	<div class="card card--image-right" data-category="project">
		<div class="container">
			<div class="card__image">
				<img src="assets/news-img-2.jpg" alt="">
			</div>
			<div class="card__content">
				<h3 class="h5">Blog headline goes here sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="card__link"><a href="article.html">More</a></p>
			</div>
		</div>
	</div>

	<div class="card card--image-none" data-category="news">
		<div class="container">
			<div class="card__content">
				<h3 class="h5">Blog headline goes here with no image</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="card__link"><a href="article.html">More</a></p>
			</div>
		</div>
	</div>

	<div class="card card--image-none" data-category="project">
		<div class="container">
			<div class="card__content">
				<h3 class="h5">Blog headline goes here</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="card__link"><a href="article.html">More</a></p>
			</div>
		</div>
	</div>

	<div class="card" data-category="news">
		<div class="container">
			<div class="card__image">
				<img src="assets/news-img-3.jpg" alt="">
			</div>
			<div class="card__content">
				<h3 class="h5">Blog headline goes here</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="card__link"><a href="article.html">More</a></p>
			</div>
		</div>
	</div> -->
</main>
