---
layout: default
title: Work
permalink: /work/
---

<main class="main main--projects">
	<div class="container">
		<div class="main__title">
			<h2 class="h1">Work</h2>
		</div>
		<div class="main__filter filter">
			<div class="filter__label">
				<span>All work</span>
				<svg width="11px" height="7px" class="filter__label-icon"><use xlink:href="#icon-chevron-down"/></svg>
			</div>
			<ul>
				{% for filter in site.data.filters.works %}
					<li><button class="filter__button {% if forloop.first %}active{% endif %}" data-filter="{{ filter.name }}">{{ filter.label }}</button></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% for work in site.works %}

		<div class="card{% cycle '', ' card--image-right' %}" data-category="{{ work.category }}">
			<div class="container">
				<div class="card__image">
					<img src="{{ work.main-image }}" alt="">
				</div>
				<div class="card__content">
					<h3 class="h5">{{ work.title }}</h3>
					<p>{{ work.introduction }}</p>
					<p class="card__link"><a href="{{ work.url | prepend: site.baseurl }}">View case study</a></p>
				</div>
			</div>
		</div>

	{% endfor %}
</main>
