
<footer class="footer">
	<div class="container">
		<div class="footer__title">
			<h4>Ready to start a project? We’re looking forward to speaking with you! <a href="#">Get in touch.</a></h4>
		</div>

		<div class="footer__icon">
			<svg width="168" height="44" viewBox="0 0 168 44"><use xlink:href="#icon-shopify-plus"/></svg>
		</div>

		<div class="footer__addresses">
			<div class="address">
				<div class="address__location">Sydney</div>
				<div class="address__details" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
					<span itemprop="streetAddress">Level 3</span>
					<span itemprop="streetAddress">392 Sussex Street</span><br>
					<span itemprop="addressLocality">Sydney NSW 2000</span>
				</div>
			</div>

			<div class="address">
				<div class="address__location">Melbourne</div>
				<div class="address__details" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
					<span itemprop="streetAddress">Level 1</span>
					<span itemprop="streetAddress">109 Hawke Street</span><br>
					<span itemprop="addressLocality">West Melbourne VIC 3003</span>
				</div>
			</div>
		</div>

		<div class="footer__links">
			<ul>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Github</a></li>
				<li><a href="#">LinkedIn</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Instagram</a></li>
			</ul>
		</div>
	</div>
</footer>

<div class="svg-sprite">
	{% include svg.html %}
</div>

<script src="/js/vendor.js"></script>
<script src="/js/main.js"></script>
