<div class="gallery">
	<div class="gallery__blocker"></div>
	<div class="gallery__container">
		<div class="container">
			<div class="gallery__title"><a href="projects.html">View All Work</a></div>

			<button class="btn btn--menu hide-gallery">
				<span class="sr-only">Close gallery</span>
				<span>&times;</span>
			</button>

			<div class="gallery__list">
				<div class="gallery-item" data-href="project.html">
					<div class="gallery-item__thumb">
						<img src="assets/work-img-1.jpg" alt="">
					</div>
					<div class="gallery-item__title">Kookai</div>
					<div class="gallery-item__category">Shopify Plus</div>
				</div>

				<div class="gallery-item" data-href="project.html">
					<div class="gallery-item__thumb">
						<img src="assets/work-img-2.jpg" alt="">
					</div>
					<div class="gallery-item__title">Youfoodz</div>
					<div class="gallery-item__category">Shopify</div>
				</div>

				<div class="gallery-item" data-href="project.html">
					<div class="gallery-item__thumb">
						<img src="assets/work-img-3.jpg" alt="">
					</div>
					<div class="gallery-item__title">Kristin Ash</div>
					<div class="gallery-item__category">Shopify Plus</div>
				</div>

				<div class="gallery-item" data-href="project.html">
					<div class="gallery-item__thumb">
						<img src="assets/work-img-4.jpg" alt="">
					</div>
					<div class="gallery-item__title">Honey Birdette</div>
					<div class="gallery-item__category">Design Systems</div>
				</div>

				<div class="gallery-item" data-href="project.html">
					<div class="gallery-item__thumb">
						<img src="assets/work-img-5.jpg" alt="">
					</div>
					<div class="gallery-item__title">Life With Bird</div>
					<div class="gallery-item__category">Shopify</div>
				</div>

				<div class="gallery-item" data-href="project.html">
					<div class="gallery-item__thumb">
						<img src="assets/work-img-6.jpg" alt="">
					</div>
					<div class="gallery-item__title">Reformatory Coffee Lab</div>
					<div class="gallery-item__category">Wordpress</div>
				</div>
			</div>
		</div>
	</div>
</div>
