
{% include menu.html %}
{% include gallery.html %}

<header class="header">
	<div class="header__logo">
		<h1 itemscope="" itemtype="http://schema.org/Organization" class="logo">
			<a href="/">
				<span class="sr-only">The Working Party</span>
				<div>
					<svg width="322" height="322" viewBox="0 0 322 322"><use xlink:href="#logo-the-working-party"/></svg>
				</div>
			</a>
		</h1>
	</div>
	<div class="header__buttons">
		<button type="menu" class="btn btn--header show-gallery">
			<span class="sr-only">Gallery</span>
			<svg width="13" height="10" viewBox="0 0 13 10"><use xlink:href="#icon-gallery"/></svg>
        </button>
		<button type="menu" class="btn btn--header show-menu">
			<span class="sr-only">Menu</span>
        	<svg width="16" height="10" viewBox="0 0 16 10"><use xlink:href="#icon-menu"/></svg>
        </button>
	</div>
</header>
