<div class="menu">
	<button type="menu" class="btn btn--menu menu__close">
		<span class="sr-only">Close menu</span>
		<span>&times;</span>
	</button>

	<div class="menu__links">
		<ul>
			<li class="menu__links-list"><a href="/about/">About</a></li>
			<li class="menu__links-list"><a href="/work/">Work</a></li>
			<li class="menu__links-list"><a href="/events/">Events</a></li>
			<li class="menu__links-list"><a href="/news/">News</a></li>
			<li class="menu__links-list"><a href="/contact/">Contact</a></li>
			<li class="menu__links-list menu__links-list--small"><a href="/careers/">We're hiring!</a></li>
		</ul>
	</div>
</div>
