.main--article {

	.main__title h2 {
		margin-bottom: $margin-sm;
	}

	.main__details {
		font-weight: $font-weight-regular;
	}

	.main__content {

		p {
			@include span(8);
			@include squish(2);

			@include media(xs) {
				@include span(12);
				@include squish(0);
			}
		}

		img {
			margin: $margin-lg 0;
			@include span(6);
			@include squish(3);

			@include media(xs) {
				@include span(10);
				@include squish(1);
			}
		}
	}
}
