.header {
	width: 100%;

	&__logo {
		position: fixed;
		z-index: 999;
		left: $margin-sm;
		top: $margin-sm;
		transform: scale(1);
		transform-origin: left top;
		transition: transform 0.4s;

		h1 {
			margin: 0;
		}

		svg {
			width: 128px;
			height: 128px;
			float: left;
		}
	}

	&__buttons {
		position: fixed;
		z-index: 800;
		right: $margin-sm;
		top: $margin-sm;
	}

	&--small {

		.header__logo {
			transform: scale(0.6);
		}
	}
}

.easein-footer {

	#icon-gallery path,
	#icon-menu path {
		fill: $text-color-inverted;
	}
}
