@font-face {
	font-family: 'GT Pressura Mono Trial';
	src: url('/assets/fonts/GTPressuraMonoTrial-Light.eot');
	src: url('/assets/fonts/GTPressuraMonoTrial-Light.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/GTPressuraMonoTrial-Light.woff') format('woff'),
		url('/assets/fonts/GTPressuraMonoTrial-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GT Pressura Mono Trial';
	src: url('/assets/fonts/GTPressuraMonoTrial-Regular.eot');
	src: url('/assets/fonts/GTPressuraMonoTrial-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/GTPressuraMonoTrial-Regular.woff') format('woff'),
		url('/assets/fonts/GTPressuraMonoTrial-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT Pressura Mono Trial';
	src: url('/assets/fonts/GTPressuraMonoTrial-Bold.eot');
	src: url('/assets/fonts/GTPressuraMonoTrial-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/GTPressuraMonoTrial-Bold.woff') format('woff'),
		url('/assets/fonts/GTPressuraMonoTrial-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GT Pressura Trial';
	src: url('/assets/fonts/GTPressuraTrial-Light.eot');
	src: url('/assets/fonts/GTPressuraTrial-Light.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/GTPressuraTrial-Light.woff') format('woff'),
		url('/assets/fonts/GTPressuraTrial-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GT Pressura Trial';
	src: url('/assets/fonts/GTPressuraTrial-Bold.eot');
	src: url('/assets/fonts/GTPressuraTrial-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/GTPressuraTrial-Bold.woff') format('woff'),
		url('/assets/fonts/GTPressuraTrial-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display Trial';
	src: url('/assets/fonts/GTEestiProDisplayTrial-Light.eot');
	src: url('/assets/fonts/GTEestiProDisplayTrial-Light.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/GTEestiProDisplayTrial-Light.woff') format('woff'),
		url('/assets/fonts/GTEestiProDisplayTrial-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display Trial';
	src: url('/assets/fonts/GTEestiProDisplayTrial-Regular.eot');
	src: url('/assets/fonts/GTEestiProDisplayTrial-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/GTEestiProDisplayTrial-Regular.woff') format('woff'),
		url('/assets/fonts/GTEestiProDisplayTrial-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
